body{
    background-color: rgb(155, 237, 226);
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.input-container{
    display: flex;
    justify-content: center;
}

.retry-button-container{
display: flex;
justify-self: center;
}

.start-button{
    background-color: rgb(38, 67, 179);
    color: white;
    padding: 15px;
    width: 80px;
    font-size: 18px;
    border-radius: 5px;
}

.retry-btn{
    background-color: rgb(224, 23, 23);
    color: white;
    padding: 15px;
    margin: 0 auto;
    width: 80px;
    font-size: 18px;
    border-radius: 5px;
}

.minutes-input{
    width: 50%;
    height: 40px;
    margin-top: 15px;
}

.minutes{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.input{
    margin-bottom: 15px;
    width: 300px;
    height: 47px;
    text-align: center;

}

.score-container, h1{
    font-size: 28px;
}








